* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.pera {
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  line-height: 30px;
}

.tittle {
  font-size: 45px;
  font-weight: 600;
  color: #1d1d1d;
}

.button_style {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  padding: 13px 33px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #289bde;
}

.only_sm_devise {
  display: none;
}

/* common css end */

/*=========================== 
        main menu start
/*=========================== */
#main_menu {
  padding: 65px 0;
}
#main_menu .navbar-brand {
  font-size: 40px;
  font-weight: 600;
  color: #4a4a4a;
}

#main_menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  margin: 0 15px;
}

#main_menu .register {
  font-size: 20px;
  font-weight: 600;
  color: #289bde;
  padding: 13px 33px;
  border: 1px solid #289bde;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
}

/*=========================== 
        main menu end
/*=========================== */
/*=========================== 
        banner  start
/*=========================== */

#banner .banner_slide {
  background: url(../images/cover/cover-1.png);
  padding: 180px 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

#banner .banner_slide_2 {
  background: url(../images/cover/cover-2.jpg);
}
#banner .banner_slide_3 {
  background: url(../images/cover/cover-3.jpg);
}

#banner .banner_slide::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(29, 29, 29, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}

#banner h1 {
  font-size: 65px;
  font-weight: 600;
  width: 632px;
  text-align: center;
  margin: 0 auto;
  color: #ffff;
}

#banner p {
  font-size: 18px;
  font-weight: 400;
  color: #f4f4f4;
  line-height: 30px;
  width: 671px;
  margin: 30px auto;
  text-align: center;
}

#banner a {
  color: #ffff;
}
/*=========================== 
        banner end
/*=========================== */
